@font-face {
	font-family: libreFranklin;
	src: url("https://fonts.google.com/specimen/Libre+Franklin.eot");
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.text-bigger {
	font-size: 1.3em;
}

.text-gray {
	color: hsl(0, 0%, 59%);
}
.text-blue {
	color: hsl(209, 33%, 12%);
}
.text-red {
	color: red;
}

.inputs > input,
.inputs > button {
	width: 90%;
	display: block;
	margin: 0.5em auto;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 50em;
}

.inputs > input {
	border: 1px solid lightgray;
}

.inputs > button {
	border: none;
	background-color: hsl(223, 87%, 63%);
	color: white;
}

button:hover {
	cursor: pointer;
}

.icon {
	height: 25px;
	border: 1px solid lightgray;
	border-radius: 100%;
	padding: 7px;
}

.img-container {
	height: 100%;
	width: 100%;
	margin: 1em auto;
}

.img-container > img {
	width: 100%;
}

@media only screen and (min-width: 450px) {
	.inputs {
		max-width: 500px;
		margin: 0 auto;
	}
	.inputs > input,
	.inputs > button {
		display: inline;
		margin: 0.5em;
	}
	.inputs > input {
		width: 60%;
	}

	.inputs > button {
		width: 30%;
	}
}
